<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Traingitlab Copilot App</title>
</head>
<body>
    <div class="container">
        <img src="https://miro.medium.com/v2/resize:fit:700/0*oRRpMJ9XqkRnYLhW.png" alt="GitHub Copilot" class="center-image">
        <h1>GitHub Copilot, aumente sua produtividade</h1>
    </div>
</body>
</html>